*{
    background: #E8DFCA;
}
.text{
    color: #1A4D2E;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#par{
    color:#4F6F52
}
#hint{
    color: #E8DFCA;
    margin-top: 50%;
}

/*
*{
    background: #E8DFCA;
}
.hint{
    color: #1A4D2E;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#rise{
    color:#4F6F52
}
#title{
    color: #E8DFCA;
    margin-top: 50%;
    
*{
    background: #E8DFCA;
}
.hint{
    color: #1A4D2E;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#rise{
    color:#4F6F52
}
#title{
    color: #E8DFCA;
    margin-top: 50%;
    
    *{
    background: #E8DFCA;
}
.hint{
    color: #1A4D2E;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#rise{
    color:#4F6F52
}
#title{
    color: #E8DFCA;
    margin-top: 50%;
    
    *{
    background: #E8DFCA;
}
.hint{
    color: #1A4D2E;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#rise{
    color:#4F6F52
}
#title{
    color: #E8DFCA;
    margin-top: 50%;
    
    *{
    background: #E8DFCA;
}
.hint{
    color: #1A4D2E;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#rise{
    color:#4F6F52
}
#title{
    color: #E8DFCA;
    margin-top: 50%;
    *{
    background: #E8DFCA;
}

.hint{
    color: #1A4D2E;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#rise{
    color:#4F6F52
}
#title{
    color: #E8DFCA;
    margin-top: 50%;
    *{
    background: #E8DFCA;
}
.hint{
.hint{
    color: #1A4D2E;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#rise{
    color:#4F6F52
}
#title{
    color: #E8DFCA;
    margin-top: 50%;
    *{
    background: #E8DFCA;
}
.hint{
.hint{
    color: #1A4D2E;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#rise{
    color:#4F6F52
}
#title{
    color: #E8DFCA;
    margin-top: 50%;
    *{
    background: #E8DFCA;
}
.hint{
.hint{
    color: #1A4D2E;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#rise{
    color:#4F6F52
}
#title{
    color: #E8DFCA;
    margin-top: 50%;
    *{
    background: #E8DFCA;
}
.hint{
.hint{
    color: #1A4D2E;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#rise{
    color:#4F6F52
}
#title{
    color: #E8DFCA;
    margin-top: 50%;
    *{
    background: #E8DFCA;
}
.hint{
.hint{
    color: #1A4D2E;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#rise{
    color:#4F6F52
}
#title{
    color: #E8DFCA;
    margin-top: 50%;
    *{
    background: #E8DFCA;
}

.hint{
    color: #1A4D2E;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    for_decrypt: "@cme.@b ?.<!:jc}ma|i4*Qmabbfg`k4-Ny~o|ewi;";
}

#rise{
    color:#4F6F52
}
#title{
    color: #E8DFCA;
    margin-top: 50%;*/